# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\demo\workspace\sample_app_3rd_edition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
